//@import '/theme/variables/colors.scss';
.dropdown {
    position: relative;
    max-width: 320px;
    // width: 320px;
    // height: 44px;
    // background: #FFFFFF;
    // box-sizing: border-box;
    // //outline: none;
    // color: $dark-shade-75;
    // background-color: transparent;
}

.dropdown__name {
    border: 1px solid $dark-shade-25;
    border-radius: 4px 4px 0 0;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left: 15px;
    width: 320px;
    height: 44px;
    box-sizing: border-box;
}

.dropdown__name::after {
    content: "keyboard_arrow_down";
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    right: 0px;
    bottom: 0px;
    font-size: 24px;
    line-height: 24px;
    width: 44px;
    z-index: -1;
}

.absolute .dropdown-list {
    position: absolute;
    top: 44px;
    background: #fff;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
}

.dropdown-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border: 1px solid $dark-shade-25;
    border-top: none;
    //box-sizing: border-box;
    border-radius: 0 0 4px 4px;
    padding-top: 0px;
    display: none;
}

.dropdown-list div {
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 15px;
}

.dropdown-list__item {
    width: 200px;
    background-color: #fff;
    box-sizing: border-box;
}

.dropdown-list__switcher {
    background-color: #fff;
    width: 100px;
    height: 100%;
    padding: 0px;
    margin-right: 7px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0px !important;
}

.dropdown-list__switcher_circle {
    font-family: 'Montserrat';
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    line-height: 22px;
    border: 1px solid $dark-shade-25;
    border-radius: 22px;
    width: 30px;
    height: 30px;
    padding: 0px !important;
}

.dropdown-list__switcher_number {
    font-family: 'Montserrat';
    font-weight: normal;
    font-style: normal;
    align-items: center;
    justify-content: center;
    // width: 30px;
    // height: 30px;
    padding: 0px !important;
}

.dropdown.active .dropdown-list {
    display: flex;
}