@font-face {
    font-family: 'Quicksand';
    src: url("./components/fonts/Quicksand/Quicksand-Bold.svg");
    src: url("./components/fonts/Quicksand/Quicksand-Bold.woff");
    src: url("./components/fonts/Quicksand/Quicksand-Bold.ttf");
}

@font-face {
    font-family: 'Montserrat';
    src: url("./components/fonts/Montserrat/Montserrat-Regular.svg");
    src: url("./components/fonts/Montserrat/Montserrat-Regular.woff");
    src: url("./components/fonts/Montserrat/Montserrat-Regular.ttf");
}