@font-face {
    font-family: 'Quicksand';
    src: url("/theme/fonts/Quicksand/Quicksand-Bold.svg");
    src: url("/theme/fonts/Quicksand/Quicksand-Bold.woff");
    src: url("/theme/fonts/Quicksand/Quicksand-Bold.ttf");
}

@font-face {
    font-family: 'Montserrat';
    src: url("/theme/fonts/Montserrat/Montserrat-Regular.svg");
    src: url("/theme/fonts/Montserrat/Montserrat-Regular.woff");
    src: url("/theme/fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    /* For IE6-8 */
    src: url("/theme/fonts/Material-design-icons/MaterialIcons-Regular.eot");
    src: url("/theme/fonts/Material-design-icons/MaterialIcons-Regular.woff2");
    src: url("/theme/fonts/Material-design-icons/MaterialIcons-Regular.woff");
    src: url("/theme/fonts/Material-design-icons/MaterialIcons-Regular.ttf");
}