@font-face {
  font-family: "Quicksand";
  src: url("/Quicksand-Bold.568e3ecc.svg");
  src: url("/Quicksand-Bold.44189749.woff");
  src: url("/Quicksand-Bold.8a513087.ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url("/Montserrat-Regular.26be7165.svg");
  src: url("/Montserrat-Regular.4439be45.woff");
  src: url("/Montserrat-Regular.1022c53d.ttf");
}
h1 {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: #1F2041;
}

h2 {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: #1F2041;
}

h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  color: #1F2041;
  text-transform: uppercase;
  margin: auto;
}

body {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}
.text-field {
  display: block;
  width: 320px;
  height: 44px;
  border-radius: 4px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  background: #FFFFFF;
  box-sizing: border-box;
  outline: none;
  padding-left: 15px;
  color: rgba(31, 32, 65, 0.25);
}

.text-field:focus {
  border: 1px solid rgba(31, 32, 65, 0.5);
  color: rgba(31, 32, 65, 0.75);
}

.text-field:hover {
  border: 1px solid rgba(31, 32, 65, 0.5);
  color: rgba(31, 32, 65, 0.75);
}

.text-field::placeholder {
  color: rgba(31, 32, 65, 0.25);
}
.dropdown {
  position: relative;
  user-select: none;
  width: 320px;
}
.dropdown__head {
  display: flex;
  align-items: center;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px 4px 0 0;
  cursor: pointer;
  height: 44px;
  width: inherit;
  box-sizing: border-box;
}
.dropdown__text {
  padding-left: 15px;
  padding-right: 47px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  box-sizing: border-box;
}
.dropdown__icon {
  width: 44px;
  text-align: center;
}
.dropdown__list {
  position: absolute;
  background: #fff;
  width: inherit;
  box-sizing: border-box;
  z-index: 1;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-top: none;
  border-radius: 0 0 4px 4px;
  padding: 7px 7px 13px 15px;
  display: none;
}
.dropdown__list.show {
  display: block;
}
.dropdown__item {
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  box-sizing: border-box;
  margin-bottom: 7px;
}
.dropdown__item span {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}
.dropdown__switcher {
  width: 92px;
  height: 100%;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0px !important;
}
.dropdown__minus, .dropdown__plus {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 22px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 22px;
  width: 30px;
  height: 30px;
  padding: 0px !important;
  cursor: pointer;
}
.dropdown__minus {
  opacity: 0.5;
}
.dropdown__number {
  align-items: center;
  justify-content: center;
  padding: 0px !important;
}
.dropdown__toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 12px;
  box-sizing: border-box;
}
.dropdown__toolbar > div {
  cursor: pointer;
}
.dropdown__clear {
  visibility: hidden;
}
.dropdown__clear h3 {
  color: rgba(31, 32, 65, 0.5);
}
.dropdown__apply h3 {
  color: #BC9CFF;
}

/*# sourceMappingURL=/main.1f19ae8e.css.map */