include ./components/text-field/text-field
include ./components/dropdown/dropdown
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        
    body
        div
            h1 This one is the sub-section or widget title
            h2 Next one is the item title inside widgets
            h3 This is a label or CTA text
            |This is the body text which is used for most of the design, like paragraphs, lists, etc.
        +text-field({placeholder:"Email"})
        +text-field({value:"This is pretty awesome"})
        -
            var items= [
                {value:"car", text:"Octan"},
                {value:"car", text:"Dominus"},
                {value:"shit", text:"Gizmo"}
            ]
        +dropdown({items}) 
    foot
        script(src='./main.js')
        